*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style:none;

float:left;
}


.menu li{
    position:relative;
    float:left;
   
}

.menu li a{color:#ffffff; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

.image-container {
    position: relative;
}
  
  
.image-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.open-sans-a {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

#divBusca{
    background-color: white;
    border:solid 0px;
    border-radius:15px;
    width:300px;
    position: relative;
    bottom: 35px;
    left: 380px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}  

container1{
    display: flex;
    background-color: beige;
    width: 90%;
    margin-bottom: 30px;
}

.inicio{
    justify-self: start;
}

container2{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-evenly;
    width: 99%;
    
}

.quadrado{
    font-size: 2rem;
    width: 300px;
    height: 500px;
    background-color: #85C1F2;
    border: 2px solid #7bb1de;
    border-radius: 40px;
    justify-content: space-evenly;
    -moz-box-shadow:0 3px 10px 0 #000000;
    -webkit-box-shadow:0 3px 10px 0 #000000;
    
}

p{
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.rodape {
    background-color: #064273;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    overflow: hidden; /* Adicionado para evitar overflow */
    box-sizing: border-box; /* Para garantir que o padding seja incluído na largura total */
    padding: 0; /* Certifique-se de que não haja padding adicional */
    margin: 0; /* Certifique-se de que não haja margem adicional */
}

.rodape a {
    text-decoration: none;
    color: white;
}



.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
    box-sizing: border-box; /* Para garantir que o padding seja incluído na largura total */
}

.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4 {
    display: flex;
    width: calc(25% - 20px); /* Corrigido para 25% para 4 colunas */
    padding: 10px;
    box-sizing: border-box; /* Para garantir que o padding seja incluído na largura total */
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-direitos {
    width: 100%; /* Ajustado para 100% para evitar espaçamento */
    background-color: black;
    padding: 10px;
    margin: 0; /* Remover qualquer margem */
    text-align: center;
    box-sizing: border-box; /* Para garantir que o padding seja incluído na largura total */
    position: relative; /* Certifique-se de que está posicionado relativamente */
    bottom: 0; /* Colocar na parte inferior */
}

/* Mobile */
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4 {
        width: calc(50% - 20px); /* Ajustado para 50% para 2 colunas */
        padding: 10px;
        box-sizing: border-box; /* Para garantir que o padding seja incluído na largura total */
    }

    .rodape-div {
        padding: 60px 0px 40px 0px;
        box-sizing: border-box; /* Para garantir que o padding seja incluído na largura total */
    }
}



.quicksand  {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100; 
}
  
  

.myfont {
    font-family: "Times New Roman", sans-serif;
    font-weight: 300;
    font-style: normal;
  }


@font-face {
    font-family: "Times New roman";
    src: url(times\ new\ roman.ttf);
}  


.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  